/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Fallback fonts */
/* Choose commonly available fonts for each font family */
/* For example, Arial for sans-serif and Georgia for serif */
body {
  font-family: "Open Sans", Arial, sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(10, 10, 10, 1));
}

/* Apply the font to h1 */
h1 {
  font-family: "Montserrat", "Open Sans", Arial, sans-serif !important;
  font-weight: 400; /* Adjust to your desired font weight */
}
